<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="restaurantBean" class="org.springcore.Restaurant">
		<!-- <constructor-arg ref="teaBean" /> -->
		<property name="hotDrink" ref="teaBean"></property>
		<property name="restaurentWaiters">
			<list>
				<value>Mr ABC</value>
				<value>Mr XYZ</value>
				<value>Mr Rob</value>
				<value>Mr Ted</value>
			</list>
		</property>
	</bean>
	<bean id="teaBean" class="org.springcore.Tea">

	</bean>
</beans>