<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-init-method="init"
	default-destroy-method="destroy">
	<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"></bean>
	<bean id="restaurantBean" class="org.springcore.Restaurant" scope="singleton" lazy-init="true" ><!--  init-method="init" destroy-method="destroy" -->
		<!-- <constructor-arg ref="teaBean" /> -->
		<property name="hotDrink" ref="teaBean"></property>
		<property name="restaurentWaiters">
			<list>
				<value>Mr ABC</value>
				<value>Mr XYZ</value>
				<value>Mr Rob</value>
				<value>Mr Ted</value>
			</list>
		</property>
	</bean>
	<bean id="teaBean" class="org.springcore.Tea">

	</bean>
</beans>